# Advanced Querying Mongo

**⚠️ IMPORTANT: Limit your print to avoid infinite scrolling. Otherwise your
code will be lost between print lines. If working with lists do:**

```python
list(collection.find(query))[:5] #or a reasonably low number
```

Importing libraries and setting up connection

In [4]:
from pymongo import MongoClient
import pandas as pd
import time

In [9]:
client = MongoClient("localhost:27017")
db = client["Ironhack"]
c= db.get_collection("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [23]:
filter_1 = {"name":"Babelgum"}
projection = {"_id":0, "name":1}


a = list(c.find(filter_1, projection))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [74]:
filter_1 = {"number_of_employees": {"$gte": 5000}}
projection = {"_id":0, "name":1}


a = list(c.find(filter_1, projection).sort("number_of_employees", -1).limit(20))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'},
 {'name': 'Sony'},
 {'name': 'LG'},
 {'name': 'Ford'},
 {'name': 'Boeing'},
 {'name': 'Digital Equipment Corporation'},
 {'name': 'Nokia'},
 {'name': 'MItsubishi Electric'},
 {'name': 'Comcast'},
 {'name': 'Bertelsmann'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [32]:
condition_1 = {"founded_year": {"$gte": 2000}}
condition_2 = {"founded_year": {"$lte": 2005}}

projection = {"_id": 0, "name":1, "founded_year": 1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).limit(20))


no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'SmugMug', 'founded_year': 2002},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Skype', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [39]:
condition_1 = {"ipo.valuation_amount": {"$gte": 100000000}}
condition_2 = {"founded_year": {"$lte": 2010}}

projection = {"_id": 0, "name":1, "ipo": 1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).limit(20))


no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Brightcove',
  'ipo': {'valuation_amount': 290000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 17,
   'stock_symbol': 'NASDAQ:BCOV'}},
 {'name': 'KIT digital',
  'ipo': {'valuation_amount': 235000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 27,
   'stock_symbol': 'KITD'}},
 {'name': 'Nielsen',
  'ipo': {'valuation_amount': 1600000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 1,
   'pub_day': 26,
   'stock_symbol': 'NYSE:NLSN'}},
 {'name': 'OpenTable',
  'ipo': {'valuation_amount': 1050000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2009,
   'pub_month': 5,
   'pub_day': 21,
   'stock_symbol': 'NASDAQ:OPEN'}},
 {'name': 'ChannelAdvisor',
  'ipo': {'valuation_amount': 287000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 5,
   'pub_day': 23,
   'stock_symbol': 'NYSE:ECOM'}},
 {'name': 'Jive Software',
  'ipo': {'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 3,
   'stock_symbol': 'NASDAQ:JIVE'}},
 {'name': 'Zillow',
  'ipo': {'valuation_amount': 2550000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 19,
   'stock_symbol': 'NASDAQ:Z'}},
 {'name': 'Wix',
  'ipo': {'valuation_amount': 750000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 6,
   'stock_symbol': 'NASDAQ:WIX'}},
 {'name': 'Shutterfly',
  'ipo': {'valuation_amount': 350000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2006,
   'pub_month': 9,
   'pub_day': 29,
   'stock_symbol': 'SFLY'}},
 {'name': 'TripAdvisor',
  'ipo': {'valuation_amount': 3273770000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 12,
   'pub_day': 21,
   'stock_symbol': 'TRIP'}},
 {'name': 'Salesforce',
  'ipo': {'valuation_amount': 110000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 7,
   'pub_day': 2,
   'stock_symbol': 'NYSE:CRM'}},
 {'name': 'HomeAway',
  'ipo': {'valuation_amount': 3000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 6,
   'pub_day': 29,
   'stock_symbol': 'NASDAQ:AWAY'}},
 {'name': 'QuinStreet',
  'ipo': {'valuation_amount': 140000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 1,
   'pub_day': 11,
   'stock_symbol': 'NASDAQ:QNST'}},
 {'name': 'Rackspace',
  'ipo': {'valuation_amount': 5440000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'RAX'}},
 {'name': 'BMC Software',
  'ipo': {'valuation_amount': 6000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 1988,
   'pub_month': 8,
   'pub_day': 12,
   'stock_symbol': 'NASDAQ:BMC'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [44]:
condition_1 = {"number_of_employees": {"$lte": 1000}}
condition_2 = {"founded_year": {"$lte": 2005}}

projection = {"_id": 0, "name":1, "number_of_employees": 1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).sort("number_of_employees", -1).limit(10))
no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Sonus Networks', 'number_of_employees': 1000},
 {'name': 'SK Net Service Company Ltd', 'number_of_employees': 1000},
 {'name': 'Gumtree', 'number_of_employees': 1000},
 {'name': 'Akamai Technologies', 'number_of_employees': 1000},
 {'name': 'Omniture', 'number_of_employees': 1000},
 {'name': 'Antal International', 'number_of_employees': 1000},
 {'name': "OC'LIANE", 'number_of_employees': 1000},
 {'name': 'FANUC Robotics America', 'number_of_employees': 1000},
 {'name': 'Telenav', 'number_of_employees': 1000},
 {'name': 'Yodle', 'number_of_employees': 1000}]

### 6. All the companies that don't include the `partners` field.

In [48]:
filter_1 = {"partners": []}

projection = {"_id": 0, "name":1}


a = list(c.find(filter_1, projection).limit(10))
no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [50]:
filter_1 = {"category_code": None}

projection = {"_id": 0, "name":1}


a = list(c.find(filter_1, projection).limit(10))
no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [62]:
condition_1 = {"number_of_employees": {"$gte": 100}}
condition_2 = {"number_of_employees": {"$lte": 1000}}

projection = {"_id": 0, "name": 1, "number_of_employees": 1}

results = c.find({"$and": [condition_1, condition_2]}, projection).sort("number_of_employees").limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Fon', 'number_of_employees': 100},
 {'name': 'INgage Networks', 'number_of_employees': 100},
 {'name': 'TrialPay', 'number_of_employees': 100},
 {'name': 'mig33', 'number_of_employees': 100},
 {'name': 'Simply Hired', 'number_of_employees': 100},
 {'name': 'EchoSign', 'number_of_employees': 100},
 {'name': 'Verimatrix', 'number_of_employees': 100},
 {'name': 'Firetide', 'number_of_employees': 100},
 {'name': 'hi5', 'number_of_employees': 100},
 {'name': 'Redfin', 'number_of_employees': 100}]

### 9. Order all the companies by their IPO price in a descending order.

In [68]:
filter_1 = {"ipo.valuation_amount": {"$gte": 0}}

projection = {"_id": 0, "name":1, "ipo.valuation_amount": 1}


a = list(c.find(filter_1, projection).sort("ipo.valuation_amount", -1).limit(10))
no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000.0}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000.0}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000.0}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [73]:
filter_1 = {} 

projection = {"_id": 0, "name": 1, "number_of_employees": 1}

results = c.find(filter_1, projection).sort("number_of_employees", -1).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)

no_dups

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [76]:
filter_1 = {"founded_month": {"$gte": 7}} 

projection = {"_id": 0, "name": 1, "founded_month": 1}

results = c.find(filter_1, projection).sort("founded_month", -1).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)

no_dups

[{'name': 'Kyte', 'founded_month': 12},
 {'name': 'Swivel', 'founded_month': 12},
 {'name': 'FlickIM', 'founded_month': 12},
 {'name': 'Ikan', 'founded_month': 12},
 {'name': 'Wesabe', 'founded_month': 12},
 {'name': 'Sway', 'founded_month': 12},
 {'name': 'hi5', 'founded_month': 12},
 {'name': 'Socialtext', 'founded_month': 12},
 {'name': 'blinkx', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [83]:
condition_1 = {"founded_year": {"$lte": 2000}}
condition_2 = {"acquisition.price_amount": {"$gte": 10000000}}

projection = {"_id": 0, "name": 1, "acquisition.price_amount": 1}

results = c.find({"$and": [condition_1, condition_2]}, projection).sort("acquisition.price_amount", -1).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'BEA Systems', 'acquisition': {'price_amount': 8500000000.0}},
 {'name': 'Navteq', 'acquisition': {'price_amount': 8100000000.0}},
 {'name': 'Sun Microsystems', 'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Pixar', 'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'LSI', 'acquisition': {'price_amount': 6600000000.0}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000.0}},
 {'name': 'aQuantive', 'acquisition': {'price_amount': 6400000000.0}},
 {'name': 'Siebel Systems', 'acquisition': {'price_amount': 5850000000.0}},
 {'name': 'Sybase', 'acquisition': {'price_amount': 5800000000.0}},
 {'name': 'Affiliated Computer Services',
  'acquisition': {'price_amount': 5750000000.0}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [90]:
condition_1 = {"acquisition.acquired_year": {"$gt": 2010}}
condition_2 = {"acquisition.price_amount": {"$exists": True}}

projection = {"_id": 0, "name": 1, "acquisition.price_amount": 1}

results = c.find({"$and": [condition_1, condition_2]}, projection).sort("acquisition.price_amount", -1).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)

no_dups

[{'name': 'T-Mobile', 'acquisition': {'price_amount': 39000000000.0}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000.0}},
 {'name': 'LSI', 'acquisition': {'price_amount': 6600000000.0}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000.0}},
 {'name': 'Ariba', 'acquisition': {'price_amount': 4300000000.0}},
 {'name': 'NetLogic Microsystems',
  'acquisition': {'price_amount': 3700000000.0}},
 {'name': 'SuccessFactors', 'acquisition': {'price_amount': 3400000000.0}},
 {'name': 'Qualcomm Atheros', 'acquisition': {'price_amount': 3100000000.0}},
 {'name': 'Global Crossing', 'acquisition': {'price_amount': 3000000000.0}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [92]:
filter_1 = {}

projection = {"_id": 0, "name": 1, "founded_year": 1}

results = c.find(filter_1, projection).sort("founded_year", -1).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [96]:
filter_1 = {"founded_day": {"$lte": 7}}

projection = {"_id": 0, "name": 1, "acquisition.price_amount": 1}

results = c.find(filter_1, projection).sort("acquisition.price_amount", -1).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Netscape', 'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger', 'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems', 'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense', 'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee', 'acquisition': {'price_amount': 321000000}},
 {'name': 'BlueLithium', 'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [101]:
condition_1 = {"category_code": "web"} 
condition_2 = {"number_of_employees": {"$gte": 4000}}

projection = {"_id": 0, "name": 1, "number_of_employees": 1, "category_code": 1}

results = c.find({"$and": [condition_1, condition_2]}, projection).sort("number_of_employees", -1).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)

no_dups

[{'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [106]:
condition_1 = {"acquisition.price_amount": {"$gte":10000000}} 
condition_2 = {"acquisition.price_currency_code": "EUR"}

projection = {"_id": 0, "name": 1}

results = c.find({"$and": [condition_1, condition_2]}, projection).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)

no_dups

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'},
 {'name': 'Tuenti Technologies'},
 {'name': 'BioMed Central'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [114]:
filter_1 = {
    "founded_month": {"$gte": 1, "$lte": 4}
}

projection = {"_id": 0, "name": 1, "acquisition": 1}

results = c.find(filter_1, projection).sort("acquisition", -1).limit(10)

no_dups = []
for i in results:
    if i not in no_dups:
        no_dups.append(i)

no_dups

[{'name': 'Sun Microsystems',
  'acquisition': {'price_amount': 7400000000.0,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2009/04/20/oracle-to-buy-sun-hold-on-to-your-hats/',
   'source_description': 'Oracle To Buy Sun For Approximately $7.4 Billion - Hold On To Your Hats',
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': 20,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}},
 {'name': 'Siebel Systems',
  'acquisition': {'price_amount': 5850000000.0,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://www.oracle.com/corporate/press/2006_jan/sieb_cl.html',
   'source_description': 'Oracle Agrees to Buy Siebel for $10.66 a Share  ',
   'acquired_year': 2006,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'Oracle Corporation',
    'permalink': 'oracle'}}},
 {'name': 'Netscape',
  'acquisition': {'price_amount': 4200000000.0,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://news.cnet.com/2100-1023-218360.html',
   'source_description': 'AOL buys Netscape for $4.2 billion',
   'acquired_year': 1998,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'AOL', 'permalink': 'aol'}}},
 {'name': 'YouTube',
  'acquisition': {'price_amount': 1650000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://www.techcrunch.com/2006/10/09/google-has-acquired-youtube/',
   'source_description': 'Google has acquired YouTube',
   'acquired_year': 2006,
   'acquired_month': 10,
   'acquired_day': None,
   'acquiring_company': {'name': 'Google', 'permalink': 'google'}}},
 {'name': 'Zappos',
  'acquisition': {'price_amount': 1200000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://techcrunch.com/2009/07/22/amazon-buys-zappos/',
   'source_description': 'TechCrunch: Amazon Buys Zappos',
   'acquired_year': 2009,
   'acquired_month': 7,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Amazon', 'permalink': 'amazon'}}},
 {'name': 'Meraki',
  'acquisition': {'price_amount': 1200000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/18/cisco-acquires-enterprise-wi-fi-startup-meraki-for-1-2-billion-in-cash/',
   'source_description': 'Cisco Acquires Enterprise Wi-Fi Startup Meraki For $1.2 Billion In Cash',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 20,
   'acquiring_company': {'name': 'Cisco', 'permalink': 'cisco'}}},
 {'name': 'Tumblr',
  'acquisition': {'price_amount': 1100000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/05/20/its-official-yahoo-is-buying-tumblr-for-1-1b-promises-to-keep-it-independent/',
   'source_description': 'It’s Official: Yahoo Is Buying Tumblr For $1.1B, Vows To Keep It Independent',
   'acquired_year': 2013,
   'acquired_month': 5,
   'acquired_day': 20,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': 'Kiva Systems',
  'acquisition': {'price_amount': 775000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://venturebeat.com/2012/03/19/amazon-buys-kiva-systems/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+Venturebeat_deals+%28VentureBeat+%C2%BB+Deals+%26+More%29',
   'source_description': 'Amazon buys Kiva Systems for $775M — prepare for even smarter warehouses',
   'acquired_year': 2012,
   'acquired_month': 3,
   'acquired_day': 19,
   'acquiring_company': {'name': 'Amazon', 'permalink': 'amazon'}}},
 {'name': 'Playdom',
  'acquisition': {'price_amount': 763200000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2010/07/27/playdom-acquired-by-disney-for-up-to-763-2-million/',
   'source_description': '',
   'acquired_year': 2010,
   'acquired_month': 7,
   'acquired_day': 27,
   'acquiring_company': {'name': 'The Walt Disney Company',
    'permalink': 'the-walt-disney-company'}}},
 {'name': 'SonicWALL',
  'acquisition': {'price_amount': 717000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.silicontap.com/sonicwall_acquired_by_private_equity_group_for_7_7m/s-0028973.html',
   'source_description': 'SonicWALL Acquired By Private Equity Group For $717M',
   'acquired_year': 2010,
   'acquired_month': 6,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Private equity group',
    'permalink': 'private-equity-group'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code

**⚠️ Did you do this?**

```python
list(collection.find(query))[:5] #or a reasonably low number
```