# Advanced Querying Mongo

**⚠️ IMPORTANT: Limit your print to avoid infinite scrolling. Otherwise your
code will be lost between print lines. If working with lists do:**

```python
list(collection.find(query))[:5] #or a reasonably low number
```

Importing libraries and setting up connection

In [2]:
# from pymongo import MongoClient
# client = MongoClient("")
from pymongo import MongoClient
import pandas as pd
import time
client = MongoClient("localhost:27017")

In [6]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [7]:
client.list_database_names()

['admin', 'config', 'ironhack', 'local']

In [16]:
db = client["ironhack"]

In [17]:
c = db.get_collection("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [33]:
list(c.find({"name": 'Babelgum'}, {"name": 1, "_id": 0}))

[{'name': 'Babelgum'}]

In [29]:
list(c.find({"name": 'Babelgum'}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'),
  'name': 'Babelgum',
  'permalink': 'babelgum',
  'crunchbase_url': 'http://www.crunchbase.com/company/babelgum',
  'homepage_url': 'http://babelgum.com',
  'blog_url': 'http://babelgum.com/blog',
  'blog_feed_url': 'http://feeds.feedburner.com/Babelgum',
  'twitter_username': 'Babelgum',
  'category_code': 'games_video',
  'number_of_employees': None,
  'founded_year': 2007,
  'founded_month': 3,
  'founded_day': 1,
  'deadpooled_year': 2013,
  'deadpooled_month': 1,
  'deadpooled_day': 9,
  'deadpooled_url': '',
  'tag_list': 'iptv, web2ireland',
  'alias_list': '',
  'email_address': 'info@babelgum.com',
  'phone_number': '',
  'description': '',
  'created_at': 'Sat Jun 09 08:15:21 UTC 2007',
  'updated_at': 'Wed Oct 16 06:30:25 UTC 2013',
  'overview': '<p>Babelgum is an integrated web and mobile video content platform, free for users and supported by advertising, available on-demand to a global audience.</p>\n\n<p>On March 20th 2009 Babelgum released a U.S. version of its mobile video application for iPhone and iPod Touch (previously available in Italy and the UK) and simultaneously launched a redesigned website (www.babelgum.com) with a Flash-based player, offering one of the first fully integrated video mobile and web user experiences.</p>\n\n<p>Babelgum Mobile is currently available in the United States, UK, Italy, Germany, France and Spain and over 50 other countries across the globe on iPhone 3G, iPod Touch, Google Android G-Phones 1 and 2, Nokia (N96, N95 and 6210) via 3G and WiFi.</p>\n\n<p>Babelgum is an independent and privately held company with offices in the United States, UK, Ireland, France and Italy.</p>\n\n<p>TRAFFIC FIGURES</p>\n\n<p>In July 2009 Babelgum recorded on its website over 2 million monthly unique users worldwide â€“ 1.7 million in the US alone (Source: comScore). Over 2 million people have downloaded the Babelgum mobile applications and watched videos on them.</p>\n\n<p>DEVELOPMENT STRATEGY</p>\n\n<p>In Europe, Babelgum made a strategic agreement with Vodafone to launch a mobile service that allows users to watch videos for free also over 3G networks (Vodafone supports marketing campaigns through SMS and other PR activities targeting their Customer Base). Babelgum is also seeking selected strategic partnerships in the United States.</p>\n\n<p>BABELGUMâ€™S EDITORIAL APPROACH TO CONTENT</p>\n\n<p>Positioned between user generated video hubs and network TV-oriented destinations, Babelgum has a unique editorial approach which focuses on the third part of the ecosystem: innovative, professionally produced content on very specific passions curated by experts in their fields. </p>\n\n<p>The editorial team is driven by professional publishers who scout and select programming for the following channels: Music, Comedy, Film, Our Earth (dedicated to nature and the environment) and Metropolis (all about urban culture and trends). </p>\n\n<p>The mobile and web platforms are integrated functionally and graphically and complement each other, although mobile programming is more carefully tailored to local markets, based on research into national tastes and viewing habits. </p>\n\n<p>Babelgumâ€™s content comprises independent and mainstream programming as well as exclusive original productions.</p>\n\n<p>LIST OF MAIN CONTENT PROVIDERS:</p>\n\n<p>Babelgumâ€™s content partners include, among others, EMI, Sony BMG, the New York Times, PBS, BBC, VBS, Lonely Planet, Coolhunting, National Geographic, Funny or Die, T5M, Shine Limited, Cinetic Rights Management, Content Republic, Gong Anime, The Workbook Project, Cinelan, Power to the Pixel and Off the Fence as well as the Seattle, Encounters, Los Angeles, and Hamptons film festivals.</p>\n\n<p>ONLINE VIDEO COMPETITIONS:</p>\n\n<p>The company has also set up a series of online contests to nurture independent film, music and art talent: the Babelgum Online Film Festival, the Babelgum Music Video Awards and the Babelgum Metropolis Art Prize chaired respectively by Spike Lee, Michel Gondry and Isabella Rossellini.</p>',
  'image': {'available_sizes': [[[135, 102],
     'assets/images/resized/0006/7738/67738v2-max-150x150.png'],
    [[135, 102], 'assets/images/resized/0006/7738/67738v2-max-250x250.png'],
    [[135, 102], 'assets/images/resized/0006/7738/67738v2-max-450x450.png']],
   'attribution': None},
  'products': [{'name': 'Babelgum', 'permalink': 'babelgum'}],
  'relationships': [{'is_past': False,
    'title': 'CEO',
    'person': {'first_name': 'Valerio',
     'last_name': 'Zingarelli',
     'permalink': 'valerio-zingarelli'}},
   {'is_past': True,
    'title': 'CTO',
    'person': {'first_name': 'Mallku',
     'last_name': 'Caballero',
     'permalink': 'mallku-caballero'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Michael',
     'last_name': "O'Callaghan",
     'permalink': 'michael-o-callaghan'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Erik',
     'last_name': 'Lumer',
     'permalink': 'erik-lumer'}},
   {'is_past': True,
    'title': 'Engineering Director',
    'person': {'first_name': 'Mark',
     'last_name': 'Kearns',
     'permalink': 'mark-kearns'}}],
  'competitions': [{'competitor': {'name': 'Joost', 'permalink': 'joost'}},
   {'competitor': {'name': 'Zattoo', 'permalink': 'zattoo'}},
   {'competitor': {'name': 'Veoh', 'permalink': 'veoh'}},
   {'competitor': {'name': 'Vudu', 'permalink': 'vudu'}},
   {'competitor': {'name': 'Inuk Networks', 'permalink': 'inuk-networks'}},
   {'competitor': {'name': 'Participatory Culture Foundation',
     'permalink': 'participatory-culture-foundation'}},
   {'competitor': {'name': 'Next New Networks',
     'permalink': 'next-new-networks'}}],
  'providerships': [],
  'total_money_raised': '$13.2M',
  'funding_rounds': [{'id': 17,
    'round_code': 'a',
    'source_url': 'http://www.redherring.com/Article.aspx?a=21800&hed=Battle+of+the+Billionaires&sector=Regions&subsector=Europe',
    'source_description': '',
    'raised_amount': 13200000,
    'raised_currency_code': 'USD',
    'funded_year': 2005,
    'funded_month': 6,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': None,
      'person': {'first_name': 'Silvio',
       'last_name': 'Scaglia',
       'permalink': 'silvio-scaglia'}}]}],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'London',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 53.344104,
    'longitude': -6.267494}],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [60]:
query = {"number_of_employees": {"$gt": 5000}}
projection = {"_id":0, "name":1, "number_of_employees": 1}
list(c.find(query, projection).sort("number_of_employees", 1).limit(20))

[{'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Hexaware Technologies', 'number_of_employees': 5200},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'OpenText', 'number_of_employees': 5300},
 {'name': 'LSI', 'number_of_employees': 5400},
 {'name': 'CPM Braxis', 'number_of_employees': 5400},
 {'name': 'Microchip Technologies', 'number_of_employees': 5500},
 {'name': 'Mediaset', 'number_of_employees': 5729},
 {'name': 'Mindray Medical International', 'number_of_employees': 5763},
 {'name': 'Baidu', 'number_of_employees': 6000},
 {'name': 'Dentsu', 'number_of_employees': 6000},
 {'name': 'Tata Communications', 'number_of_employees': 6000},
 {'name': 'Atmel', 'number_of_employees': 6000},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'SRA International', 'number_of_employees': 6400},
 {'name': "Moody's", 'number_of_employees': 6800},
 {'name': 'ManTech', 'number_of_employees': 7000},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Broadcom', 'number_of_employees': 7400}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [140]:
query = {"founded_year": {"$gte": 2000, "$lte": 2005}}
projection = {"_id":0, "name":1, "founded_year": 1}
list(c.find(query, projection)) [:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [141]:
filters1 = {"founded_year": {"$lte": 2010}, "ipo.valuation_amount": {"$gte": 100000000}}
projection = {"_id":0, "name":1, "ipo.valuation_amount": 1}
list(c.find(filters1, projection)) [:5]

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [76]:
filters1 = {"founded_year": {"$lte": 2005}, "number_of_employees": {"$lt": 1000}}
projection = {"_id":0, "name":1, "number_of_employees": 1, "founded_year": 1}
list(c.find(filters1, projection).sort("number_of_employees", -1).limit(10))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'Box', 'number_of_employees': 950, 'founded_year': 2005},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Workday', 'number_of_employees': 900, 'founded_year': 2005},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998}]

### 6. All the companies that don't include the `partners` field.

In [142]:
query = {"partners": {"$exists": "False"}}
projection = {"_id":0, "name":1}
list(c.find(query, projection)) [:5]

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [143]:
query = {"category_code": {"$type": 10}}
projection = {"_id":0, "name":1}
list(c.find(query, projection)) [:5]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [144]:
query = {"number_of_employees": {"$gte": 100, "$lte": 1000}}
projection = {"_id":0, "name":1, "number_of_employees": 1}
list(c.find(query, projection)) [:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [145]:
filters1 = {"ipo.valuation_amount": {"$exists": True}}
projection = {"_id":0, "name":1, "ipo.valuation_amount": 1}
list(c.find(filters1, projection).sort("ipo.valuation_amount", -1)) [:5]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [109]:
query = {"number_of_employees": {"$exists": True}}
projection = {"_id":0, "name":1, "number_of_employees": 1}
list(c.find(query, projection).sort("number_of_employees", -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [146]:
query = {"founded_month": {"$gte": 7, "$lte": 12}}
projection = {"_id":0, "name":1, "founded_month": 1}
list(c.find(query, projection).limit(1000)) [:5]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [126]:
filters1 = {"founded_year": {"$lt": 2000}, "acquisition.price_amount": {"$gt": 10000000}}
projection = {"_id":0, "name":1, "founded_year": 1, "acquisition.price_amount":1}
list(c.find(filters1, projection).limit(5))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [147]:
filters1 = {"acquisition.acquired_year": {"$gt": 2010}}
projection = {"_id":0, "name":1, "acquisition.acquired_year":1}
list(c.find(filters1, projection).sort("acquisition.acquired_year", 1)) [:5]

[{'name': 'Kyte', 'acquisition': {'acquired_year': 2011}},
 {'name': 'Jingle Networks', 'acquisition': {'acquired_year': 2011}},
 {'name': 'delicious', 'acquisition': {'acquired_year': 2011}},
 {'name': 'Instructables', 'acquisition': {'acquired_year': 2011}},
 {'name': 'Dogster', 'acquisition': {'acquired_year': 2011}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [125]:
filters1 = {"founded_year": {"$exists": True}}
projection = {"_id":0, "name":1, "founded_year": 1}
list(c.find(filters1, projection).sort("founded_year", -1))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [133]:
filters1 = {"founded_day": {"$lte": 7}}
projection = {"_id":0, "name":1, "founded_day": 1, "acquisition.price_amount":1}
list(c.find(filters1, projection).sort("acquisition.price_amount", -1).limit(10))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'Vitrue',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [124]:
filters1 = {"category_code": "web", "number_of_employees": {"$gt": 4000}}
projection = {"_id":0, "name":1, "category_code": 1}
list(c.find(filters1, projection).sort("number_of_employees", 1))

[{'name': 'Expedia', 'category_code': 'web'},
 {'name': 'AOL', 'category_code': 'web'},
 {'name': 'Webkinz', 'category_code': 'web'},
 {'name': 'Rakuten', 'category_code': 'web'},
 {'name': 'Los Angeles Times Media Group', 'category_code': 'web'},
 {'name': 'Groupon', 'category_code': 'web'},
 {'name': 'Yahoo!', 'category_code': 'web'},
 {'name': 'eBay', 'category_code': 'web'},
 {'name': 'Experian', 'category_code': 'web'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [136]:
filters1 = {"acquisition.price_amount": {"$gt": 10000000}, "acquisition.price_currency_code": "EUR"}
projection = {"_id":0, "name":1, "acquisition.price_amount":1}
list(c.find(filters1, projection))

[{'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [139]:
filters1 = {"acquisition.acquired_month": {"$lte": 3}}
projection = {"_id":0, "name":1, "acquisition.acquired_month":1}
list(c.find(filters1, projection).sort("acquisition.acquired_month", 1).limit(10))

[{'name': 'Ticketmaster', 'acquisition': {'acquired_month': 1}},
 {'name': 'BillMonk', 'acquisition': {'acquired_month': 1}},
 {'name': 'Filtrbox', 'acquisition': {'acquired_month': 1}},
 {'name': 'Six Apart', 'acquisition': {'acquired_month': 1}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'Quattro Wireless', 'acquisition': {'acquired_month': 1}},
 {'name': 'Buzzmetrics', 'acquisition': {'acquired_month': 1}},
 {'name': 'Flock', 'acquisition': {'acquired_month': 1}},
 {'name': 'Zenfolio', 'acquisition': {'acquired_month': 1}},
 {'name': 'Kyte', 'acquisition': {'acquired_month': 1}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code

**⚠️ Did you do this?**

```python
list(collection.find(query))[:5] #or a reasonably low number
```