# Advanced Querying Mongo

**⚠️ IMPORTANT: Limit your print to avoid infinite scrolling. Otherwise your
code will be lost between print lines. If working with lists do:**

```python
list(collection.find(query))[:5] #or a reasonably low number
```

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import pandas as pd
import time

In [8]:
client = MongoClient("localhost:27017")
db = client["Ironhack"]
c = db.get_collection("companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [9]:
list(c.find({"name":"Babelgum"}, projection = {"_id":0, "name":1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [54]:
list(c.find({"number_of_employees":{"$gte": 5001}}, projection = {"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",1).limit(20))

[{'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Hexaware Technologies', 'number_of_employees': 5200},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'OpenText', 'number_of_employees': 5300},
 {'name': 'CPM Braxis', 'number_of_employees': 5400},
 {'name': 'LSI', 'number_of_employees': 5400},
 {'name': 'Microchip Technologies', 'number_of_employees': 5500},
 {'name': 'Mediaset', 'number_of_employees': 5729},
 {'name': 'Mindray Medical International', 'number_of_employees': 5763},
 {'name': 'Dentsu', 'number_of_employees': 6000},
 {'name': 'Atmel', 'number_of_employees': 6000},
 {'name': 'Tata Communications', 'number_of_employees': 6000},
 {'name': 'Baidu', 'number_of_employees': 6000},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'SRA International', 'number_of_employees': 6400},
 {'name': "Moody's", 'number_of_employees': 6800},
 {'name': 'ManTech', 'number_of_employees': 7000},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Broadcom', 'number_of_employees': 7400}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [67]:
condition_1={"founded_year":{"$gte": 2000}}
condition_2={"founded_year":{"$lte": 2005}}

db.find({"$and": [] }, projection={}).sort("",).limit()

list(c.find({"$and": [condition_1, condition_2]}, projection = {"_id":0, "name":1, "founded_year":1}))[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [68]:
codition_1={"ipo.valuation_amount":{"$gte":100000000}}
condition_2={"founded_year":{"$lte": 2011}}
list(c.find({"$and":[codition_1,condition_2]},projection = {"_id":0, "name":1, "ipo":1}))[:5]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [58]:
condition_1={"number_of_employees":{"$lte": 999}}
condition_2={"founded_year":{"$lte": 2006}}
list(c.find({"$and":[condition_1,condition_2]}, projection = {"_id":0, "name":1,"number_of_employees":1}).sort("number_of_employees", 1).limit(10))

[{'name': 'Fox Interactive Media', 'number_of_employees': 0},
 {'name': 'EQO', 'number_of_employees': 0},
 {'name': 'Bebo', 'number_of_employees': 0},
 {'name': 'Skype', 'number_of_employees': 0},
 {'name': 'Joost', 'number_of_employees': 0},
 {'name': 'Mashery', 'number_of_employees': 0},
 {'name': 'Go2Web20', 'number_of_employees': 0},
 {'name': 'Ticketmaster', 'number_of_employees': 0},
 {'name': 'CastTV', 'number_of_employees': 0},
 {'name': 'YouTube', 'number_of_employees': 0}]

### 6. All the companies that don't include the `partners` field.

In [31]:
list(c.find({"partners":{"$exists": False}}, projection = {"_id":0, "name":1}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [45]:
list(c.find({"category_code":{"$type": "null"}}, projection = {"_id":0, "name":1, "category_code":1}))[:5]

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [46]:
condition_1={"number_of_employees":{"$gte": 100}}
condition_2={"number_of_employees":{"$lte": 999}}
list(c.find({"$and":[condition_1,condition_2]}, projection = {"_id":0, "name":1, "number_of_employees":1}))[:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [47]:
list(c.find(projection = {"_id":0, "name":1, "ipo.valuation_amount":1}).sort("ipo.valuation_amount",-1))[:5]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [40]:
list(c.find(projection = {"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [48]:
list(c.find({"founded_month":{"$gte":7}}, projection = {"_id":0, "name":1,"founded_month":1}))[:5]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [71]:
condition_1={"acquisition.price_amount":{"$gte": 10000000}}
condition_2={"founded_year":{"$lte": 1999}}

list(c.find({"$and": [condition_1, condition_2]}, projection = {"_id":0, "name":1, "acquisition.price_amount":1,"founded_year":1}))[:5]

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [66]:
condition={"acquisition.acquired_year":{"$gt":2010}}
proj={"_id":0, "name":1, "acquisition":1}
list(c.find(condition, projection = proj).sort("acquisition.price_amount"))[:5]

[{'name': 'Geni',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'delicious',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/04/27/yahoo-sells-delicious-to-youtube-founders/',
   'source_description': 'Yahoo Sells Delicious To YouTube Founders',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 27,
   'acquiring_company': {'name': 'AVOS Systems', 'permalink': 'avos'}}},
 {'name': 'Mashery',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://allthingsd.com/20130417/intel-acquires-api-manager-mashery/',
   'source_description': 'Intel Acquires API Manager Mashery',
   'acquired_year': 2013,
   'acquired_month': 4,
   'acquired_day': 17,
   'acquiring_company': {'name': 'Intel', 'permalink': 'intel'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [93]:
proj={"_id":0, "name":1, "founded_year":1}
#list(c.find({"founded_year":{"$ne":"null"}},projection=proj).sort("founded_year"))[:5]
list(c.find(projection=proj).sort("founded_year"))[:5]

[{'name': 'Flektor', 'founded_year': None},
 {'name': 'Lala', 'founded_year': None},
 {'name': 'SpinVox', 'founded_year': None},
 {'name': 'Gannett', 'founded_year': None},
 {'name': 'Info', 'founded_year': None}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [83]:
#list(c.find().limit(1)) 
#founded_day

In [87]:
condition={"founded_day":{"$lte":7}}
proj={"_id":0, "name":1, "founded_day":1}

list(c.find(condition,projection=proj).sort("acquisition.price_amount",-1).limit(10))

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Danger', 'founded_day': 1},
 {'name': 'Clearwell Systems', 'founded_day': 6},
 {'name': 'PrimeSense', 'founded_day': 1},
 {'name': 'Amobee', 'founded_day': 1},
 {'name': 'BlueLithium', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [100]:
condition1={"category_code": "web"}
condition2={"number_of_employees":{"$gte":4000}}
list(c.find({"$and":[condition1, condition2]},projection={"_id":0, "name":1, "number_of_employees":1}).sort("number_of_employees",1))[:5]

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [104]:
condition1={"acquisition.price_amount":{"$gte":10000000}}
condition2={"acquisition.price_currency_code" : "EUR"}
proj={"_id":0, "name":1}

list(c.find({"$and" : [condition1, condition2]}, projection=proj))[:5]

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [106]:
#list(c.find(projection={"acquisition":1}))[0]  acquired_month

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'acquisition': {'price_amount': 30000000,
  'price_currency_code': 'USD',
  'term_code': 'cash_and_stock',
  'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
  'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
  'acquired_year': 2013,
  'acquired_month': 12,
  'acquired_day': 16,
  'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}}

In [110]:
condition = {"acquisition.acquired_month": {"$lte":4}}
proj={"_id":0, "name":1, "acquisition":1}

list(c.find(condition, projection=proj).limit(10))

[{'name': 'StumbleUpon',
  'acquisition': {'price_amount': 29000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/',
   'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches",
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': None,
   'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'Veoh',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2010/04/07/qlipso-veoh/',
   'source_description': "Qlipso's CEO Explains Why He Bought Veoh",
   'acquired_year': 2010,
   'acquired_month': 4,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Qlipso', 'permalink': 'qlipso'}}},
 {'name': 'Jingle Networks',
  'acquisition': {'price_amount': 62500000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://www.masshightech.com/stories/2011/04/11/daily11-Jingle-Networks-bought-for-up-to-625M.html',
   'source_description': 'Jingle Networks bought for up to $62.5M',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Marchex', 'permalink': 'marchex'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'delicious',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/04/27/yahoo-sells-delicious-to-youtube-founders/',
   'source_description': 'Yahoo Sells Delicious To YouTube Founders',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 27,
   'acquiring_company': {'name': 'AVOS Systems', 'permalink': 'avos'}}},
 {'name': 'Jobster',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2010/04/05/zapoint-acquires-social-job-search-site-jobster-from-recruiting-com/',
   'source_description': 'Zapoint Acquires Social Job Search Site Jobster From Recruiting.com',
   'acquired_year': 2010,
   'acquired_month': 4,
   'acquired_day': 5,
   'acquiring_company': {'name': 'Zapoint', 'permalink': 'zapoint'}}},
 {'name': 'Spock',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.paidcontent.org/entry/419-intelius-buys-people-search-engine-spock/',
   'source_description': 'Intelius Buys People Search Engine Spock',
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': 30,
   'acquiring_company': {'name': 'Intelius', 'permalink': 'intelius'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code

**⚠️ Did you do this?**

```python
list(collection.find(query))[:5] #or a reasonably low number
```