# Advanced Querying Mongo

**⚠️ IMPORTANT: Limit your print to avoid infinite scrolling. Otherwise your
code will be lost between print lines. If working with lists do:**

```python
list(collection.find(query))[:5] #or a reasonably low number
```

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import pandas as pd
import time
client = MongoClient("localhost:27017")

In [4]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [13]:
db = client["ironhack"]

In [14]:
c = db.get_collection("companies")

In [15]:
c.find_one()

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'name': 'Wetpaint',
 'permalink': 'abc2',
 'crunchbase_url': 'http://www.crunchbase.com/company/wetpaint',
 'homepage_url': 'http://wetpaint-inc.com',
 'blog_url': 'http://digitalquarters.net/',
 'blog_feed_url': 'http://digitalquarters.net/feed/',
 'twitter_username': 'BachelrWetpaint',
 'category_code': 'web',
 'number_of_employees': 47,
 'founded_year': 2005,
 'founded_month': 10,
 'founded_day': 17,
 'deadpooled_year': 1,
 'tag_list': 'wiki, seattle, elowitz, media-industry, media-platform, social-distribution-system',
 'alias_list': '',
 'email_address': 'info@wetpaint.com',
 'phone_number': '206.859.6300',
 'description': 'Technology Platform Company',
 'created_at': datetime.datetime(2007, 5, 25, 6, 51, 27),
 'updated_at': 'Sun Dec 08 07:15:44 UTC 2013',
 'overview': '<p>Wetpaint is a technology platform company that uses its proprietary state-of-the-art technology and expertise in social media to build and monetize audiences for digital publishers. Wetpaint’s own online property, Wetpaint Entertainment, an entertainment news site that attracts more than 12 million unique visitors monthly and has over 2 million Facebook fans, is a proof point to the company’s success in building and engaging audiences. Media companies can license Wetpaint’s platform which includes a dynamic playbook tailored to their individual needs and comprehensive training. Founded by Internet pioneer Ben Elowitz, and with offices in New York and Seattle, Wetpaint is backed by Accel Partners, the investors behind Facebook.</p>',
 'image': {'available_sizes': [[[150, 75],
    'assets/images/resized/0000/3604/3604v14-max-150x150.jpg'],
   [[250, 125], 'assets/images/resized/0000/3604/3604v14-max-250x250.jpg'],
   [[450, 225], 'assets/images/resized/0000/3604/3604v14-max-450x450.jpg']]},
 'products': [{'name': 'Wikison Wetpaint', 'permalink': 'wetpaint-wiki'},
  {'name': 'Wetpaint Social Distribution System',
   'permalink': 'wetpaint-social-distribution-system'}],
 'relationships': [{'is_past': False,
   'title': 'Co-Founder and VP, Social and Audience Development',
   'person': {'first_name': 'Michael',
    'last_name': 'Howell',
    'permalink': 'michael-howell'}},
  {'is_past': False,
   'title': 'Co-Founder/CEO/Board of Directors',
   'person': {'first_name': 'Ben',
    'last_name': 'Elowitz',
    'permalink': 'ben-elowitz'}},
  {'is_past': False,
   'title': 'COO/Board of Directors',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': False,
   'title': 'SVP, Strategy and Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Theresia',
    'last_name': 'Ranzetta',
    'permalink': 'theresia-ranzetta'}},
  {'is_past': False,
   'title': 'Board Member',
   'person': {'first_name': 'Gus',
    'last_name': 'Tai',
    'permalink': 'gus-tai'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Len',
    'last_name': 'Jordan',
    'permalink': 'len-jordan'}},
  {'is_past': False,
   'title': 'Head of Technology and Product',
   'person': {'first_name': 'Alex',
    'last_name': 'Weinstein',
    'permalink': 'alex-weinstein'}},
  {'is_past': True,
   'title': 'CFO',
   'person': {'first_name': 'Bert',
    'last_name': 'Hogue',
    'permalink': 'bert-hogue'}},
  {'is_past': True,
   'title': 'CFO/ CRO',
   'person': {'first_name': 'Brian',
    'last_name': 'Watkins',
    'permalink': 'brian-watkins'}},
  {'is_past': True,
   'title': 'Senior Vice President, Marketing',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': True,
   'title': 'VP, Technology and Product',
   'person': {'first_name': 'Werner',
    'last_name': 'Koepf',
    'permalink': 'werner-koepf'}},
  {'is_past': True,
   'title': 'VP Marketing',
   'person': {'first_name': 'Kevin',
    'last_name': 'Flaherty',
    'permalink': 'kevin-flaherty'}},
  {'is_past': True,
   'title': 'VP User Experience',
   'person': {'first_name': 'Alex',
    'last_name': 'Berg',
    'permalink': 'alex-berg'}},
  {'is_past': True,
   'title': 'VP Engineering',
   'person': {'first_name': 'Steve',
    'last_name': 'McQuade',
    'permalink': 'steve-mcquade'}},
  {'is_past': True,
   'title': 'Executive Editor',
   'person': {'first_name': 'Susan',
    'last_name': 'Mulcahy',
    'permalink': 'susan-mulcahy'}},
  {'is_past': True,
   'title': 'VP Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}}],
 'competitions': [{'competitor': {'name': 'Wikia', 'permalink': 'wikia'}},
  {'competitor': {'name': 'JotSpot', 'permalink': 'jotspot'}},
  {'competitor': {'name': 'Socialtext', 'permalink': 'socialtext'}},
  {'competitor': {'name': 'Ning by Glam Media', 'permalink': 'ning'}},
  {'competitor': {'name': 'Soceeo', 'permalink': 'soceeo'}},
  {'competitor': {'name': 'Yola', 'permalink': 'yola'}},
  {'competitor': {'name': 'SocialGO', 'permalink': 'socialgo'}},
  {'competitor': {'name': 'IslamNor', 'permalink': 'islamnor'}}],
 'providerships': [],
 'total_money_raised': '$39.8M',
 'funding_rounds': [{'id': 888,
   'round_code': 'a',
   'source_url': 'http://seattlepi.nwsource.com/business/246734_wiki02.html',
   'source_description': '',
   'raised_amount': 5250000,
   'raised_currency_code': 'USD',
   'funded_year': 2005,
   'funded_month': 10,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 889,
   'round_code': 'b',
   'source_url': 'http://pulse2.com/2007/01/09/wiki-builder-website-wetpaint-welcomes-95m-funding/',
   'source_description': '',
   'raised_amount': 9500000,
   'raised_currency_code': 'USD',
   'funded_year': 2007,
   'funded_month': 1,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 2312,
   'round_code': 'c',
   'source_url': 'http://www.accel.com/news/news_one_up.php?news_id=185',
   'source_description': 'Accel',
   'raised_amount': 25000000,
   'raised_currency_code': 'USD',
   'funded_year': 2008,
   'funded_month': 5,
   'funded_day': 19,
   'investments': [{'company': None,
     'financial_org': {'name': 'DAG Ventures', 'permalink': 'dag-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None}]}],
 'investments': [],
 'acquisition': {'price_amount': 30000000,
  'price_currency_code': 'USD',
  'term_code': 'cash_and_stock',
  'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
  'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
  'acquired_year': 2013,
  'acquired_month': 12,
  'acquired_day': 16,
  'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}},
 'acquisitions': [],
 'offices': [{'description': '',
   'address1': '710 - 2nd Avenue',
   'address2': 'Suite 1100',
   'zip_code': '98104',
   'city': 'Seattle',
   'state_code': 'WA',
   'country_code': 'USA',
   'latitude': 47.603122,
   'longitude': -122.333253},
  {'description': '',
   'address1': '270 Lafayette Street',
   'address2': 'Suite 505',
   'zip_code': '10012',
   'city': 'New York',
   'state_code': 'NY',
   'country_code': 'USA',
   'latitude': 40.7237306,
   'longitude': -73.9964312}],
 'milestones': [{'id': 5869,
   'description': "Wetpaint named in Lead411's Hottest Seattle Companies list",
   'stoned_year': 2010,
   'stoned_month': 6,
   'stoned_day': 8,
   'source_url': 'http://www.lead411.com/seattle-companies.html',
   'source_text': None,
   'source_description': 'LEAD411 LAUNCHES "HOTTEST SEATTLE COMPANIES" AWARDS',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}},
  {'id': 8702,
   'description': 'Site-Builder Wetpaint Makes One For Itself, Using the Demand Media Playbook',
   'stoned_year': 2010,
   'stoned_month': 9,
   'stoned_day': 6,
   'source_url': 'http://mediamemo.allthingsd.com/20100906/site-builder-wetpaint-makes-one-for-itself-using-the-demand-media-playbook/',
   'source_text': None,
   'source_description': 'All Things D',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}}],
 'video_embeds': [],
 'screenshots': [{'available_sizes': [[[150, 86],
     'assets/images/resized/0016/0929/160929v2-max-150x150.png'],
    [[250, 143], 'assets/images/resized/0016/0929/160929v2-max-250x250.png'],
    [[450, 258], 'assets/images/resized/0016/0929/160929v2-max-450x450.png']],
   'attribution': None}],
 'external_links': [{'external_url': 'http://www.geekwire.com/2011/rewind-ben-elowitz-wetpaint-ceo-building-type-media-company',
   'title': 'GeekWire interview: Rewind - Ben Elowitz, Wetpaint CEO, on building a new type of media company'},
  {'external_url': 'http://techcrunch.com/2012/06/17/search-and-social-how-two-will-soon-become-one/',
   'title': 'Guest post by CEO Ben Elowitz in TechCrunch'},
  {'external_url': 'http://allthingsd.com/20120516/what-to-expect-when-facebook-is-expecting-five-predictions-for-facebooks-first-public-year/',
   'title': 'Guest post by CEO Ben Elowitz in AllThingsD'},
  {'external_url': 'http://adage.com/article/digitalnext/facebook-biggest-player-advertising-s-540-billion-world/235708/',
   'title': 'Guest post by CEO Ben Elowitz in AdAge'},
  {'external_url': 'http://www.businessinsider.com/facebook-captures-14-percent-of-our-online-attention-but-only-4-percent-of-ad-spending-online-2012-6',
   'title': 'Guest post by CEO Ben Elowitz in Business Insider'},
  {'external_url': 'http://allfacebook.com/wetpaint-media-data_b75963',
   'title': 'AllFacebook coverage of Wetpaint'},
  {'external_url': 'http://adage.com/article/digital/celeb-site-wetpaint-shows-media-profit-facebook/237828/',
   'title': 'Profile of Wetpaint in Ad Age'},
  {'external_url': 'http://allthingsd.com/20121018/how-to-boost-your-facebook-traffic-tips-and-tricks-from-wetpaint/',
   'title': 'Interview with Wetpaint CEO Ben Elowitz in All Things D'},
  {'external_url': 'http://www.xconomy.com/seattle/2012/10/19/wetpaint-starts-licensing-its-facebook-based-media-distribution-tech/',
   'title': 'Profile of Wetpaint in Xconomy'}],
 'partners': []}

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [30]:
filter_1 = {"name":"Babelgum"}
projection = {"name": 1, "_id":0}


a = list(c.find(filter_1, projection))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [76]:
filter_1 = {'number_of_employees': {"$gte": 5000}}
projection = {"name": 1, "_id":0}


a = list(c.find(filter_1, projection).sort('number_of_employees', -1).limit(20))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'},
 {'name': 'Sony'},
 {'name': 'LG'},
 {'name': 'Ford'},
 {'name': 'Boeing'},
 {'name': 'Digital Equipment Corporation'},
 {'name': 'Nokia'},
 {'name': 'MItsubishi Electric'},
 {'name': 'Bertelsmann'},
 {'name': 'Comcast'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [32]:
condition_1 = {'founded_year': {"$gte": 2000}}
condition_2 = {'founded_year': {"$lte": 2005}}

projection = {"name": 1, "_id":0, "founded_year":1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).limit(20))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'SmugMug', 'founded_year': 2002},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Skype', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [35]:
condition_1 = {'ipo.valuation_amount': {"$gte": 100000000}}
condition_2 = {'founded_year': {"$lte": 2010}}

projection = {"name": 1, "_id":0, "ipo":1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).limit(20))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Brightcove',
  'ipo': {'valuation_amount': 290000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 17,
   'stock_symbol': 'NASDAQ:BCOV'}},
 {'name': 'KIT digital',
  'ipo': {'valuation_amount': 235000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 27,
   'stock_symbol': 'KITD'}},
 {'name': 'Nielsen',
  'ipo': {'valuation_amount': 1600000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 1,
   'pub_day': 26,
   'stock_symbol': 'NYSE:NLSN'}},
 {'name': 'OpenTable',
  'ipo': {'valuation_amount': 1050000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2009,
   'pub_month': 5,
   'pub_day': 21,
   'stock_symbol': 'NASDAQ:OPEN'}},
 {'name': 'ChannelAdvisor',
  'ipo': {'valuation_amount': 287000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 5,
   'pub_day': 23,
   'stock_symbol': 'NYSE:ECOM'}},
 {'name': 'Jive Software',
  'ipo': {'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 3,
   'stock_symbol': 'NASDAQ:JIVE'}},
 {'name': 'Zillow',
  'ipo': {'valuation_amount': 2550000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 19,
   'stock_symbol': 'NASDAQ:Z'}},
 {'name': 'Wix',
  'ipo': {'valuation_amount': 750000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 6,
   'stock_symbol': 'NASDAQ:WIX'}},
 {'name': 'Shutterfly',
  'ipo': {'valuation_amount': 350000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2006,
   'pub_month': 9,
   'pub_day': 29,
   'stock_symbol': 'SFLY'}},
 {'name': 'TripAdvisor',
  'ipo': {'valuation_amount': 3273770000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 12,
   'pub_day': 21,
   'stock_symbol': 'TRIP'}},
 {'name': 'Salesforce',
  'ipo': {'valuation_amount': 110000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 7,
   'pub_day': 2,
   'stock_symbol': 'NYSE:CRM'}},
 {'name': 'HomeAway',
  'ipo': {'valuation_amount': 3000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 6,
   'pub_day': 29,
   'stock_symbol': 'NASDAQ:AWAY'}},
 {'name': 'QuinStreet',
  'ipo': {'valuation_amount': 140000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 1,
   'pub_day': 11,
   'stock_symbol': 'NASDAQ:QNST'}},
 {'name': 'Rackspace',
  'ipo': {'valuation_amount': 5440000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'RAX'}},
 {'name': 'BMC Software',
  'ipo': {'valuation_amount': 6000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 1988,
   'pub_month': 8,
   'pub_day': 12,
   'stock_symbol': 'NASDAQ:BMC'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [42]:
condition_1 = {'number_of_employees': {"$lte": 1000}}
condition_2 = {'founded_year': {"$lte": 2005}}

projection = {"name": 1, "_id":0, "number_of_employees":1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).sort("number_of_employees", -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Omniture', 'number_of_employees': 1000},
 {'name': 'Telenav', 'number_of_employees': 1000},
 {'name': 'Gumtree', 'number_of_employees': 1000},
 {'name': 'SK Net Service Company Ltd', 'number_of_employees': 1000},
 {'name': 'Yodle', 'number_of_employees': 1000},
 {'name': "OC'LIANE", 'number_of_employees': 1000},
 {'name': 'FANUC Robotics America', 'number_of_employees': 1000},
 {'name': 'Antal International', 'number_of_employees': 1000},
 {'name': 'Sonus Networks', 'number_of_employees': 1000},
 {'name': 'Akamai Technologies', 'number_of_employees': 1000}]

### 6. All the companies that don't include the `partners` field.

In [44]:
filter_1 = {'partners': []}
projection = {"name": 1, "_id":0}


a = list(c.find(filter_1, projection).limit(20))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Twitter'},
 {'name': 'StumbleUpon'},
 {'name': 'Gizmoz'},
 {'name': 'Scribd'},
 {'name': 'Slacker'},
 {'name': 'Lala'},
 {'name': 'Helio'},
 {'name': 'eBay'},
 {'name': 'MeetMoi'},
 {'name': 'Joost'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [49]:
filter_1 = {'category_code': None}
projection = {"name": 1, "_id":0}


a = list(c.find(filter_1, projection).limit(20))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'},
 {'name': 'Repeater Store'},
 {'name': 'Tapesh'},
 {'name': 'iPersians'},
 {'name': 'NewPersia'},
 {'name': 'Pyra Labs'},
 {'name': 'Feedmap'},
 {'name': 'NuvoMedia'},
 {'name': 'Intwine'},
 {'name': 'The Weinstein Company'},
 {'name': 'ExecuNet'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [52]:
condition_1 = {'number_of_employees': {"$gte": 100}}
condition_2 = {'number_of_employees': {"$lte": 1000}}

projection = {"name": 1, "_id":0, "number_of_employees":1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).sort("number_of_employees", -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Akamai Technologies', 'number_of_employees': 1000},
 {'name': 'ERG Transit Systems', 'number_of_employees': 1000},
 {'name': 'Antal International', 'number_of_employees': 1000},
 {'name': 'Omniture', 'number_of_employees': 1000},
 {'name': 'Yodle', 'number_of_employees': 1000},
 {'name': 'Gumtree', 'number_of_employees': 1000},
 {'name': 'SK Net Service Company Ltd', 'number_of_employees': 1000},
 {'name': 'Yatra online', 'number_of_employees': 1000},
 {'name': 'Telenav', 'number_of_employees': 1000},
 {'name': 'Sonus Networks', 'number_of_employees': 1000}]

### 9. Order all the companies by their IPO price in a descending order.

In [69]:
filter_1 = {'ipo.valuation_amount': {"$gt": 0}}
projection = {"name": 1, "_id":0, 'ipo.valuation_amount': 1}


a = list(c.find(filter_1, projection).sort("ipo.valuation_amount", -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000.0}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000.0}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000.0}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [74]:
filter_1 = {'number_of_employees': {"$gt": 0}}
projection = {"name": 1, "_id":0, 'number_of_employees': 1}


a = list(c.find(filter_1, projection).sort('number_of_employees', -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [87]:
condition_1 = {'founded_month': {"$gte": 6}}
condition_2 = {'founded_month': {"$lte": 12}}
projection = {"name": 1, "_id":0, 'founded_month': 1}


a = c.find({"$and": [condition_1, condition_2]}, projection).sort("founded_month", -1).limit(10)

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Ikan', 'founded_month': 12},
 {'name': 'Swivel', 'founded_month': 12},
 {'name': 'FlickIM', 'founded_month': 12},
 {'name': 'blinkx', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12},
 {'name': 'hi5', 'founded_month': 12},
 {'name': 'Socialtext', 'founded_month': 12},
 {'name': 'Sway', 'founded_month': 12},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Wesabe', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [86]:
condition_1 = {'founded_year': {"$lte": 2000}}
condition_2 = {'acquisition.price_amount': {"$gte": 10000000}}
projection = {"name": 1, "_id":0, 'founded_year': 1, 'acquisition.price_amount': 1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).sort('acquisition.price_amount', -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'BEA Systems',
  'founded_year': 1995,
  'acquisition': {'price_amount': 8500000000.0}},
 {'name': 'Navteq',
  'founded_year': 1985,
  'acquisition': {'price_amount': 8100000000.0}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Pixar',
  'founded_year': 1986,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'LSI',
  'founded_year': 1980,
  'acquisition': {'price_amount': 6600000000.0}},
 {'name': 'National Semiconductor',
  'founded_year': 1959,
  'acquisition': {'price_amount': 6500000000.0}},
 {'name': 'aQuantive',
  'founded_year': 1997,
  'acquisition': {'price_amount': 6400000000.0}},
 {'name': 'Siebel Systems',
  'founded_year': 1993,
  'acquisition': {'price_amount': 5850000000.0}},
 {'name': 'Sybase',
  'founded_year': 1984,
  'acquisition': {'price_amount': 5800000000.0}},
 {'name': 'Affiliated Computer Services',
  'founded_year': 1988,
  'acquisition': {'price_amount': 5750000000.0}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [95]:
filter_1 = {'acquisition.acquired_year': {"$gt": 2010}}
projection = {"name": 1, "_id":0, 'acquisition.price_amount': 1}


a = list(c.find(filter_1, projection).sort('acquisition.price_amount', -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'T-Mobile', 'acquisition': {'price_amount': 39000000000.0}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000.0}},
 {'name': 'LSI', 'acquisition': {'price_amount': 6600000000.0}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000.0}},
 {'name': 'Ariba', 'acquisition': {'price_amount': 4300000000.0}},
 {'name': 'NetLogic Microsystems',
  'acquisition': {'price_amount': 3700000000.0}},
 {'name': 'SuccessFactors', 'acquisition': {'price_amount': 3400000000.0}},
 {'name': 'Qualcomm Atheros', 'acquisition': {'price_amount': 3100000000.0}},
 {'name': 'Global Crossing', 'acquisition': {'price_amount': 3000000000.0}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [102]:
filter_1 = {}
projection = {"name": 1, "_id":0, 'founded_year': 1}


a = list(c.find(filter_1, projection).sort('founded_year', -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [105]:
filter_1 = {'founded_day': {"$lte": 7}}
projection = {"name": 1, "_id":0, 'founded_day': 1}


a = list(c.find(filter_1, projection).sort('acquisition.price_amount', -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Danger', 'founded_day': 1},
 {'name': 'Clearwell Systems', 'founded_day': 6},
 {'name': 'PrimeSense', 'founded_day': 1},
 {'name': 'Amobee', 'founded_day': 1},
 {'name': 'Vitrue', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [112]:
condition_1 = {'category_code': 'web'}
condition_2 = {'number_of_employees': {"$gte": 4000}}
projection = {"name": 1, "_id":0, 'category_code' : 1}


a = list(c.find({"$and": [condition_1, condition_2]}, projection).sort('number_of_employees', -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Experian', 'category_code': 'web'},
 {'name': 'eBay', 'category_code': 'web'},
 {'name': 'Yahoo!', 'category_code': 'web'},
 {'name': 'Rakuten', 'category_code': 'web'},
 {'name': 'Los Angeles Times Media Group', 'category_code': 'web'},
 {'name': 'Groupon', 'category_code': 'web'},
 {'name': 'Webkinz', 'category_code': 'web'},
 {'name': 'AOL', 'category_code': 'web'},
 {'name': 'Expedia', 'category_code': 'web'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [113]:
condition_1 = {'acquisition.price_amount': {"$gte": 10000000}}
condition_2 = {'acquisition.price_currency_code': 'EUR'}
projection = {"name": 1, "_id":0, }


a = list(c.find({"$and": [condition_1, condition_2]}, projection).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'},
 {'name': 'Tuenti Technologies'},
 {'name': 'BioMed Central'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [122]:
filter_1 = {'founded_month': {"$lt": 4}}
projection = {"name": 1, "_id":0, 'acquisition.price_amount': 1}


a = list(c.find(filter_1, projection).sort('acquisition.price_amount', -1).limit(10))

no_dups = []
for i in a:
    if i not in no_dups:
        no_dups.append(i)
no_dups

[{'name': 'Sun Microsystems', 'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Siebel Systems', 'acquisition': {'price_amount': 5850000000.0}},
 {'name': 'YouTube', 'acquisition': {'price_amount': 1650000000}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Tumblr', 'acquisition': {'price_amount': 1100000000}},
 {'name': 'Kiva Systems', 'acquisition': {'price_amount': 775000000}},
 {'name': 'Playdom', 'acquisition': {'price_amount': 763200000}},
 {'name': 'SonicWALL', 'acquisition': {'price_amount': 717000000}},
 {'name': 'Lightera', 'acquisition': {'price_amount': 552000000}},
 {'name': 'OptiMedica', 'acquisition': {'price_amount': 400000000}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code

**⚠️ Did you do this?**

```python
list(collection.find(query))[:5] #or a reasonably low number
```